<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="crearPropietario()" novalidate>
    <mat-form-field>
      <input
        class="input"
        matInput
        type="text"
        matInput
        placeholder="Documento"
        formControlName="documento"
        autocomplete="off"
      />
      <mat-error>
        {{ getErrorMessage("documento") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        class="input"
        matInput
        type="text"
        matInput
        placeholder="Nombre completo"
        formControlName="nombre"
        autocomplete="off"
      />
      <mat-error>
        {{ getErrorMessage("documento") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        class="input"
        matInput
        type="text"
        matInput
        placeholder="Celular"
        formControlName="celular"
        autocomplete="off"
      />
      <mat-error>
        {{ getErrorMessage("documento") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        class="input"
        matInput
        type="text"
        matInput
        placeholder="Email"
        formControlName="email"
        autocomplete="off"
      />
      <mat-error>
        {{ getErrorMessage("email") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        [type]="hide ? 'password' : 'text'"
        autocomplete="false"
        matInput
        placeholder="Password"
        formControlName="password"
        autocomplete="off"
      />

      <mat-icon mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>

      <mat-error
        *ngIf="
          loginForm.controls.password.touched &&
          !loginForm.controls.password.valid
        "
      >
        <p>Please provide a valid password</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select>
        <mat-option value="admin">Administrador</mat-option>
        <mat-option value="usuario">Usuario</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Crear
    </button>
  </form>
</mat-card>

<mat-card>
  <div class="button">
    <button mat-raised-button color="primary" (click)="addApto()">
      Agregar Apartamento
    </button>
  </div>

  <div class="apartamentos">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="torre">
        <th mat-header-cell *matHeaderCellDef>Torre</th>
        <td mat-cell *matCellDef="let element">{{ element.torre }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
